[Unit]
Description=Read data from SQM lightmeter

[Service]
ExecStart=/path/to/lightmeter/read_sqm_data.py
Restart=always
RestartSec=10
User=verlustdernacht

[Install]
WantedBy=multi-user.target
